body{background-color: #dcdda0;}

.index-body {
    padding: 0; 
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    color: #af9b2a;
}

p {font-size: 1.2em;}

.about{
    margin-top: 50px;
    border: 5px solid #af9b2a;
    border-radius: 25px;
    box-shadow: 3px 5px 5px;
}
