/**************************************/
/**************** NAV *****************/
/**************************************/
/*ESENCIAL PARA QUITAR EL MARGEN IZQUIERDO*/
.articles {
    margin:0;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #63ccec;

    /*Fixed top*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 777;

    display: flex;
    align-items: center; 
    justify-content: center;
    box-shadow: 3px 5px 5px rgb(0, 0, 0, 0.4);
}
  
.navigation li {
    cursor: pointer;
    float: left;
}
  
.navigation li a {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    color: #1a6064;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
  
.navigation li a:hover {
    background-color: #fff;
    color: #63ccec;
    border-radius: 25px;
    box-shadow: 3px 5px 5px;
}

/**************************************/
/**************** INDEX ***************/
/**************************************/
body{background-color: #fff;}

.index-body {
    padding: 0; 
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    color: #1a6064;
}

p {font-size: 1.2em;}

.about{
    margin-top: 50px;
    border: 5px solid #1a6064;
    border-radius: 25px;
    box-shadow: 3px 5px 5px;
}

/**************************************/
/************** ARTICLES **************/
/**************************************/
.articles-txt{
    color: #1a6064;
}

@media screen and (max-width: 900px) {
    .eye {
        display: none;
    }

    .pdf {
        display: none;
    }
}

.eye {
    font-size: 1.6em;
    color: #1a6064;
    cursor: pointer;
}

.pdf {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    right: 25%;
    width: 50%;
    height: 100%;
    position: fixed; 
    display:none;
    z-index: 999;
}

/**************************************/
/*************** FOOTER ***************/
/**************************************/
#contact{
    font-family: 'Josefin Sans', sans-serif;
    color: #1a6064;
    background-color: #aedfee;
    padding: 30px;
}

.footer-link{
    text-decoration: none;
    color: #1a6064;
    font-size: medium;
}

.socials {
    padding-top: 15px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

#socials-min {display: none;}

@media screen and (max-width: 650px) {
    .socials {display: none;}

    #socials-min {display: block;}
}

.socials a {
    padding: 0px 15px;
    font-size: 2em;
}

hr {
    width: 50%;
    margin: auto;
    border-top: 4px solid;
    color:  #1a6064 !important;
    border-radius: 5px;
    padding: 10px;
    z-index: 0;
}

.submit {
    text-align: right;
    box-sizing: border-box;
}

.contact-form {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#email-msg{
    height: 100px;
    width: 100%;
}

#msg-label {
    padding-top: 10px;
}