/*ESENCIAL PARA QUITAR EL MARGEN IZQUIERDO*/
body {
    margin:0;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #dcdda0;

    /*Fixed top*/
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    align-items: center; 
    justify-content: center;
    box-shadow: 3px 5px 5px rgb(0, 0, 0, 0.4);
}
  
.navigation li {
    cursor: pointer;
    float: left;
}
  
.navigation li a {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    color: #af9b2a;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
  
.navigation li a:hover {
    background-color: #666;
    color: #af9b2a;
    border-radius: 25px;
    box-shadow: 3px 5px 5px;
}